<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--包扫描 @Controller 、@Service、@Repository、@Component会自动扫描-->
    <!--<context:component-scan base-package="cn.footman"/>-->

    <bean id="person" class="cn.footman.bean.Person">
        <property name="name" value="zhangsan"/>
        <property name="age" value="19"/>
    </bean>

</beans>